<div class="container-fluid">
  <div class="signup-component">

    <form [formGroup]="signupForm" (ngSubmit)="signup()" style="border: 1px solid rgb(136, 136, 136); padding: 20px;">
      <div style="text-align: center">
        <h2>Sign Up</h2>
      </div>

      <div class="form-group">
        <div class="alert alert-dismissible fade show" role="alert" *ngIf="errorMessageDisplay"
            [ngClass]="addStyleToErrorMessage()"> {{ errorMessage }} 
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input type="number" [formControlName]="'empId'" class="form-control" required autofocus placeholder="Employee ID"
            [ngClass]="{ 'is-invalid': submitted && signupForm.get('empId').errors }" maxlength="6" minlength="5">
          <small *ngIf="!submitted" class="form-text text-muted"> Your emp ID must be 6 digits only. </small>
          <span *ngIf="submitted" class="invalid-feedback"> Your emp ID must be 6 digits only. </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" [formControlName]="'empFirstName'" class="form-control" required autofocus placeholder="First name"
           [ngClass]="{ 'is-invalid': submitted && signupForm.get('empFirstName').errors }">
          <small *ngIf="!submitted" class="form-text text-muted"> Your first name must be 1-20 characters. </small>
          <span *ngIf="submitted" class="invalid-feedback"> Your first name must be 1-20 characters. </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" [formControlName]="'empLastName'" class="form-control" required autofocus placeholder="Last name"
            [ngClass]="{ 'is-invalid': submitted && signupForm.get('empLastName').errors }">
          <small *ngIf="!submitted" class="form-text text-muted"> Your last name must be 1-20 characters. </small>
          <span *ngIf="submitted" class="invalid-feedback"> Your last name must be 1-20 characters. </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" [formControlName]="'empUsername'" class="form-control" required autofocus placeholder="Username"
            [ngClass]="{ 'is-invalid': submitted && signupForm.get('empUsername').errors }">
          <small *ngIf="!submitted" class="form-text text-muted">Your username must be 6-20 characters.</small>
          <span *ngIf="submitted" class="invalid-feedback"> Your username must be 6-20 characters. </span>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-12">
          <input type="email" [formControlName]="'email'" class="form-control" required autofocus placeholder="E-mail"
            aria-describedby="emailHelpBlock" [ngClass]="{ 'is-invalid': submitted && signupForm.get('email').errors }">
          <small *ngIf="!submitted" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <span *ngIf="submitted" class="invalid-feedback"> Please provide a valid email. </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <input type="password" [formControlName]="'empPassword'" class="form-control" required autofocus placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && signupForm.get('empPassword').errors }">
          <small *ngIf="!submitted" class="form-text text-muted">
            Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji. </small>
          <span *ngIf="submitted" class="invalid-feedback"> 
            Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.  </span>
        </div>
      </div>

      <div class="form-group row">  
          <div class="col-md-12">
            <select [formControlName]="'role'" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && signupForm.get('role').errors }">
              <option value="" disabled selected hidden>Choose a Role</option>
              <option value="employee" active> Employee </option>
              <option value="vendor"> Vendor </option>
            </select>
            <small *ngIf="!submitted" class="form-text text-muted"> Role can be Employee or Vendor.</small>
            <div *ngIf="submitted && signupForm.get('role').errors" class="invalid-feedback">
              <div *ngIf="signupForm.get('role').errors.required">Role is required.</div>
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <span class="col-md-6 offset-md-4">
          <button type="submit" [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Sign up 
          </button>
          <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
        </span>
      </div>

    </form>
  </div>

</div>



<!-- <div class="form-group row">
  <label for="employeeId" class="col-md-4 col-form-label text-md-right">Employee ID</label>
  <div class="col-md-6">
    <input type="number" [formControlName]="'empId'" id="employeeId" class="form-control" name="email-address" required autofocus
      required aria-describedby="empIdHelpBlock" [ngClass]="{ 'is-invalid': submitted && signupForm.get('empId').errors }">
    <small *ngIf="!submitted" id="empIdHelpBlock" class="form-text text-muted"> Your emp ID must have 6 digits only. </small>
    <div *ngIf="submitted && signupForm.get('empId').errors" class="invalid-feedback">
      <div *ngIf="signupForm.get('empId').errors">Employee Id is required</div>
    </div>
    <div *ngIf="!signupForm.get('empId').valid && signupForm.get('empId').touched"> Please provide a valid employee Id </div>                                    
  </div>
</div> -->